.content-card {
  margin: auto;
  max-width: 1246px;
  width: 100%;
  font-size: 14px;

  .-header {
    background: #607D8B 0% 0% no-repeat padding-box;
    height: 40px;
    align-items: center;
    display: flex;
    padding:  10px 20px;
    color: #FFFFFF;
  }
  > .-header > .icon {
    align-items: center;
    color: transparent;
  }
  
  .highlight {
    text-align: left;
    letter-spacing: 0;
    color: #EC407A;
  }
  .button {
    text-align: left;
    font: Bold 13px/26px Roboto;
    letter-spacing: 0;
    color: #42A5F5;
    opacity: 1;
    box-shadow: 0px 1px 3px #00000029;
    width: 100px;
    height: 30px;
  }
  
}
