.content-card {
  margin: auto;
  max-width: 1246px;
  width: 100%;
  font-size: 14px;
  > .header {
    background: #607d8b 0% 0% no-repeat padding-box;
    height: 40px;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    color: #ffffff;
  }

  > .header > .icon {
    align-items: center;
    color: transparent;
    margin-right: 8px;
  }
}
