.contact-logs-notification {
  color: #42A5F5;

  > .draw-div {
    padding: 20px 20px 0 20px;
  }

  > .draw-div > .number_20px {
    font-size: 20px;
  }
  > .draw-div > .black-text {
    color: #000000DE
  }

  .number-highlight {
    font-size: 24px;
  }

  >.mdc-layout-grid > .inner > .cell > .item-child {
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  >.mdc-layout-grid > .inner > .cell > .item-child:hover {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 9px #00000029;
  }

}
