.contact-logs-notification {
  color: #42a5f5;
  > .title {
    padding: 20px 20px 0 20px;
  }

  > .title > .number {
    font-size: 20px;
  }

  > .title > .text {
    color: #000000de;
  }

  > .title > .highlight {
    text-align: left;
    letter-spacing: 0;
    color: #ec407a;
  }

  > .title > .confirmbtn {
    text-align: left;
    font: Bold 13px/26px Roboto;
    letter-spacing: 0;
    color: #42a5f5;
    opacity: 1;
    box-shadow: 0px 1px 3px #00000029;
    width: 100px;
    height: 30px;
  }
}
