.homepage{
  >.content-card {
    margin-top: 279px;
    margin-left: 230px;
    width: 1246px;
    height: 327px;
    font-size: 13px;
  }
  >.content-card .-header{
    background: #607D8B 0% 0% no-repeat padding-box;
    height: 40px;
    align-items: center;
    display: flex;
    padding: 20px;
    color: #FFFFFF;
  }
  >.content-card .highlight{
    text-align: left;
    letter-spacing: 0;
    color: #EC407A;
  }
  >.content-card .button{
    text-align: left;
    font: Bold 13px/26px Roboto;
    letter-spacing: 0;
    color: #42A5F5;
    opacity: 1;
    box-shadow: 0px 1px 3px #00000029;
    width: 100px;
    height: 30px;
  }
  .mdc-card__action-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .item{
      padding: 0 10px;
      width: 25%;
      margin-top: 20px;
      position: relative;

      .item-child {
        height: 48px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 3px #00000029;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
      }
      .item-child:hover{
        background: #F5F5F5 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 9px #00000029;
      }
    }
    .item:hover>.item-tool-tip{
      visibility: visible;
    }
    .item-tool-tip{
    height: 50px;
    position: absolute;
    visibility: hidden;
    width: 120px;
    z-index: 1;
    background: #26C6DA 0% 0% no-repeat padding-box;
    text-align: center;
    font: Regular 14px/20px Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    bottom: 178%;
    left: -70px;
    }
    .item-tool-tip:after{
      content: "";
      position: absolute;
      top: 45%;
      left: 80%;
      margin-left: -10px;
      border-width: 10px;
      width: 0;
      height: 0;
      border-top: 80px solid #26C6DA;
      border-left: 25px solid transparent;
      transform: rotate(-35deg);
    }
  }
  ._font26px{
    font-size: 26px !important;
  }
  ._float-right{
    float: right;
  }
  .content{
    color: #42A5F5;
    font: "Roboto";
    font-size: 13px;
    padding: 20px;
  }
  > .contact-log-notification{
    top: 319px;
    left: 230px;
    width: 1246px;
    height: 278px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}